/* Hasztagg */
.id-6598771 > .badge-box > i.bdg {
    background-image: url("http://i.imgur.com/IUPDsMp.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
/* Hattaque */
.id-7935618 > .badge-box > i.bdg {
    background-image: url("http://i.imgur.com/tdNIfGU.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

/*
#room-bar * {
    font-size: 0px;
}
#room-name {
    top: 6px;
    background: url("https://i.imgur.com/4vYYqqQ.png") no-repeat top left content-box;
    height: 42px;
}

*/
