/* Hattaque */
.id-7935618 > .badge-box > i.bdg {
    background-image: url("https://i.imgur.com/ib68IwH.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

/* Czerwone Buractwo */
.id-7935725 > .badge-box > i.bdg {
    background-image: url("https://i.imgur.com/ebhKwKN.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

/* FeathermanxD - 8166828, 13411329 */
.id-8166828 > .badge-box > i.bdg {
    background-image: url("https://i.imgur.com/hYMSbdX.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

/* NowySzampon */
.id-7827831 > .badge-box > i.bdg {
    background-image: url("https://i.imgur.com/pOVaGCK.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

/* Karate.gif */
.id-7842178 > .badge-box > i.bdg {
    background-image: url("https://i.imgur.com/NdTaoil.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

/* almightysaperka */
.id-8656713 > .badge-box > i.bdg {
    background-image: url("https://i.imgur.com/j6fnwn4.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

/* beakel - 6628834, 13411446 */
.id-6185549 > .badge-box > i.bdg {
    background-image: url("https://i.imgur.com/R35u2rv.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

/* dexterw */
.id-9654832 > .badge-box > i.bdg {
    background-image: url("https://i.imgur.com/1YWrmBU.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

/* warrtain */
.id- > .badge-box > i.bdg {
    background-image: url("");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

/* Mikey Wazowski */
.id-6425281 > .badge-box > i.bdg {
  background-image: url("https://i.imgur.com/XrHFOwN.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
 
#user-rollover.id-6425281 .badge-box > i.bdg {
  border-radius: 6px;
  background-image: url("https://i.imgur.com/XrHFOwN.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

/* Beczkobot - ikonka */
.id-9460483 > .msg > .from > i.icon-chat-manager {
    background: url("https://i.imgur.com/Jy46QPx.png") no-repeat !important;
}
#user-lists .list.room .user.id-9460483 .icon-chat-manager {
    background: url("https://i.imgur.com/Jy46QPx.png") no-repeat !important;
}
#waitlist .list .user.id-9460483 .name .icon-chat-manager {
    background: url("https://i.imgur.com/Jy46QPx.png") no-repeat !important;
}

#chat-messages .from .icon.icon-chat-dj {
	top: 0;
}

#extplug-user-profiles.id-8015200.username,
#user-lists .id-8015200.name,
#waitlist .id-8015200.name span,
#chat-messages [data-cid^='8015200'] .un:before{
  /*width: 0px /*imgwidth !Important;
  background-image: url(https://pfx.domain.sfx/img.sfx) !important;*/
  text-shadow: 0 0 10px #00FFFF !important;
  color: purple !important;
}

/* CookieMichal - ikonka WIP
.id-6598771 > .msg > .from {
    background: url("https://i.imgur.com/GX19uVl.png") no-repeat !important;
	margin-right: 33px;
}
#user-lists .list.room .user.id-6598771 {
    background: url("https://i.imgur.com/GX19uVl.png") no-repeat !important;
	background-position-x: 12px !important;
	background-position-y: 5px !important;
}

#chat .id-6315045 .from .un {
	margin-left: 18px;
}

*/
/* Podświetlenie nazw */
#chat .cm .icon-chat-manager + .un,
#user-lists .list.room .user .icon-chat-manager + .name,
#user-rollover.is-staff .info .role .icon-chat-manager + span,
#dialog-user-role .role-menu .selected .icon-chat-manager + span,
#dialog-user-role .role-menu .menu .manager span{
    text-shadow: 0 0 10px #AB4086;
	color: #AB4086; /* czerwony */
}

#chat .cm .icon-chat-host + .un,
#user-lists .list.room .user .icon-chat-host + .name,
#user-rollover.is-staff .info .role .icon-chat-host + span,
#dialog-user-role .role-menu .selected .icon-chat-host + span,
#dialog-user-role .role-menu .menu .host span {
    text-shadow: 0 0 10px #ffd42e;
	color: #ffd42e; /* złoty */
}

#chat .cm .icon-chat-cohost + .un,
#user-lists .list.room .user .icon-chat-cohost + .name,
#user-rollover.is-staff .info .role .icon-chat-host + span,
#dialog-user-role .role-menu .selected .icon-chat-cohost + span,
#dialog-user-role .role-menu .menu .cohost span{
    text-shadow: 0 0 10px #3980E4;
	color: #3980E4; /* niebieski */
}

/* Zawsze pokazuje suwak z glosnoscia */
#volume .slider{
  display: block !Important;
}

#vote .crowd-response .top .label { 
	font-family: MV Boli;
}

.dark-label, #now-playing-dj {
	font-style: italic;
}

/*#room-bar * {
    font-size: 0px;
}

#room-bar .icon-room {
	display: none;
}

#room-name {
    top: 6px;
    background: url("https://i.imgur.com/A97Zcw2.png") no-repeat top left content-box;
    height: 42px;
} jak są dni tematyczne to imo trochę bez sensu to jest bo zasłania tylko temat :v */

/* Wyróżnienie /me */
#chat .emote {
    border-left: rgb(51, 153, 255) 3px solid !important;
    background-color: rgba(76, 93, 119, 0.22) !important;
}

#chat .emote .text {
    font-style: normal;
    font-weight: bold;
}

#chat .mention {
    font-weight: 700;
    border-left: #7681FF 3px solid;
}

#extplug-user-profiles.id-9546733 .username,
#user-rollover.id-9546733 .username,
#user-lists .id-9546733 .name,
#waitlist .id-9546733 .name span,
#chat-messages [data-cid^='9546733'] .un:after{
  content: ' | Buraczany Książę ';
}

/*
#dj-booth {
background: url('https://i.imgur.com/w5S4r1D.png') no-repeat 0px 135px;
left: 265px;
}
*/

 /* nieużywany kod - dodaje plakietkę w user-rollover
#room-bar .icon-room:after,
#extplug-user-profiles.id-7935725 .bdg,
#chat-messages [data-cid^="7935725"] .bdg,
#user-rollover.id-7935725 .bdg{
background-image: url("https://i.imgur.com/ebhKwKN.png");}
*/

/*
#extplug-user-profiles.id-6598771 .username,
#user-rollover.id-6598771 .username,
#user-lists .id-6598771 .name,
#waitlist .id-6598771 .name span,
#chat-messages [data-cid^='6598771'] .un:after{
  content: ' | ıllıllı нαszтαgg ıllıllı';
}
*/

/* 3819880 - CookieMichal
   8015200 - xoAyame */
/*
/*ikony na czacie*/

.icon-chat-host {
    background: url("https://i.imgur.com/tcwmla4.png") !important;
}
.icon-chat-cohost+span {
    color: #3980E4 !important;
}
.icon-chat-cohost {
    background: url("https://i.imgur.com/bZ37wsM.png") !important;
} 

.icon-chat-manager {
    background: url("https://i.imgur.com/iEuTZZe.png") !important;
}

.icon-chat-bouncer+span {
    color: #14ffa2 !important;
}

.icon-chat-bouncer {
    background: url("https://i.imgur.com/akfF6ta.png") !important;
}

.icon-chat-dj+span {
    color: #5DB4FF !important;
}

.icon-chat-dj {
    background: url("https://cdn.radiant.dj/rcs/icons/radiant/residentdj.png") !important;
}
