/* Hasztagg */
.id-6598771 > .badge-box > i.bdg {
    background-image: url("http://i.imgur.com/IUPDsMp.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
/* Hattaque */
.id-7935618 > .badge-box > i.bdg {
    background-image: url("http://i.imgur.com/tdNIfGU.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
/* Beczkobot - ikonka */
[data-cid|="9460483"] .msg .from .icon-chat-manager {
background-image: url('https://i.imgur.com/DO20H9J.png') !important;
}

/*
#room-bar * {
    font-size: 0px;
}
#room-name {
    top: 6px;
    background: url("https://i.imgur.com/4vYYqqQ.png") no-repeat top left content-box;
    height: 42px;
}

*/

/*
#dj-booth {
background: url('https://i.imgur.com/w5S4r1D.png') no-repeat 0px 135px;
left: 265px;
}
*/
